/**
Theme Name: Astra Child Theme
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child-theme
Template: astra
*/
.product-one .elementor-widget-image:before{content:""; width:65px; height:65px; background-image:url(http://uncle-kelvin.com/wp-content/uploads/2021/07/triangle-shape.png); background-repeat:no-repeat; background-position:center center;     background-size: contain; position: absolute; top:100px; right:-100px; -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg); transform: rotate(90deg);}
.product-one .elementor-widget-image:after{content:""; width:60px; height:60px; background-color:#d8cabd; border-radius:50%; position: absolute; bottom:-90px; left:140px;}

.product-two .elementor-widget-image:before{content:""; width:65px; height:65px; background-image:url(http://uncle-kelvin.com/wp-content/uploads/2021/07/triangle-shape.png); background-repeat:no-repeat; background-position:center center;     background-size: contain; position: absolute; top:-150px; right:150px;}
.product-two .elementor-widget-image:after{content:""; width:60px; height:60px; background-color:#d8cabd; border-radius:50%; position: absolute; bottom:-40px; right:-100px;}
.service-list ul{margin-left:70px;}
.love-and-happiness strong{ font-size:61px;}

.testimonial.top-shape{background-position: top -15px center !important;}
.testimonial.top-shape .elementor-background-overlay { background-position: bottom -15px center !important;}

.love-section.bottom-shape .elementor-background-overlay{background-position: bottom -15px center !important;}

.all-product.top-shape{background-position: top -15px center !important;}

/*request_callback_form*/
.wpforms-container-full.request_callback_form .wpforms-form{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly;-ms-flex-wrap: wrap; flex-wrap: wrap;}

 .wpforms-container-full.request_callback_form .wpforms-form input[type=text]{color: #1D4B4A; background-color: #FFFFFF; height: 55px; border: 2px solid #1D4B4A; font-family: "Poppins", Sans-serif; font-size: 18px; font-weight: 400; line-height: 1.2em; border-radius: 5px 5px 5px 5px; padding: 17px 20px 17px 20px; width: 250px;}
 .wpforms-container-full.request_callback_form .wpforms-form .wpforms-field-container{ padding:10px;}
 .wpforms-container-full.request_callback_form .wpforms-form .wpforms-submit-container{ padding:10px;}
 .wpforms-container-full.request_callback_form .wpforms-form button[type=submit]{font-family: "Poppins", Sans-serif; font-size: 18px; font-weight: 400; line-height: 1.2em; color: #FFFFFF; background-color: #1D4B4A; border-radius: 5px; padding: 17px 40px 17px 40px; border:none;}
 .wpforms-container-full.request_callback_form .wpforms-form button[type=submit]:hover{color: #ffffff; background: #9e6f47; border:none;}                                   
.request-form .custom-select select{font-family: "Lato", Sans-serif; padding-left: 10px !important; background-size: 15px auto !important;}

/*checkbox start*/
.request-form .wpforms-field-checkbox li.choice-1 input {padding: 0; height: initial; width: initial; margin-bottom: 0; display: none !important
	; cursor: pointer; }
.request-form .wpforms-field-checkbox li.choice-1 label {position: relative; cursor: pointer; padding-left: 35px;
    display: inline-block;}
.request-form .wpforms-field-checkbox li.choice-1 label:before {content:''; -webkit-appearance: none; background-color: #fff; padding: 12px; display: inline-block; position: absolute; left: 0; top: 0; vertical-align: middle; cursor: pointer; margin-right: 10px; border-radius: 6px; }
.request-form .wpforms-field-checkbox li.choice-1 input:checked + label:after {content: ''; display: block; position: absolute; top: 3px; left: 9px; width: 6px; height: 14px; border: solid #1D4B4A; border-width: 0 2px 2px 0; transform: rotate(45deg); }
/*checkbox end*/

.linkedin-icon .elementor-icon{ background-color:#0474B3; border-radius:3px; padding:6px;}
.pum-theme-3910 #popmake-3920 {
	border-radius: 0px !important;
    border: 0px !important;
    box-shadow: unset !important;
}
@media(max-width:1199px){
	.product-one .elementor-widget-image:before{ top:100px; right:-80px;}
	.love-and-happiness strong{ font-size:40px;}
	
	.testimonial.top-shape{background-position: top -8px center !important;}
	.testimonial.top-shape .elementor-background-overlay { background-position: bottom -8px center !important;}
	.love-section.bottom-shape .elementor-background-overlay{background-position: bottom -8px center !important;}
	.all-product.top-shape{background-position: top -8px center !important;}
	
}

@media(min-width:768px) and (max-width:991px){
	.home .linkedin-icon{top:330px !important;}
}

@media(max-width:767px){
	.product-one .elementor-widget-image:after { bottom: inherit; left: -50px; top: 10px; width:40px; height:40px;}
	.product-one .elementor-widget-image:before{ top: inherit; right: 0px; bottom: 0; width: 45px; height: 45px; bottom:-60px;}
	.product-two .elementor-widget-image:before{ top: -70px; right: inherit; left: 50px; width: 40px; height: 40px;}
	.product-two .elementor-widget-image:after{ bottom: inherit; right: -75px; top: 50px; width: 45px; height: 45px;}
	.service-list ul{margin-left:25px;}	
	.love-and-happiness strong{ font-size:36px;}
	
	.testimonial.top-shape{background-position: top -2px center !important;}
	.testimonial.top-shape .elementor-background-overlay { background-position: bottom -2px center !important;}
	.love-section.bottom-shape .elementor-background-overlay{background-position: bottom -2px center !important;     background-color: rgb(255 255 255 / 40%);}
	.all-product.top-shape{background-position: top -2px center !important;}
	/*Contact form*/
div.wpforms-container-full .wpforms-form .wpforms-field:not(.wpforms-field-phone):not(.wpforms-field-select-style-modern){ width:98%; margin:0;}
	.love-and-happiness p{ margin-bottom:0;}
}

.elementor-2285 .kelvin-about .elementor-widget-container a{
	color:#1d4b4a;
	text-decoration: underline;
}
.elementor-2285 .kelvin-about .elementor-widget-container a:hover{
	color:#9E6F47;
	text-decoration: underline;
	
}